/*this design got ideas from carbon design system from 
http://carbondesignsystem.com/components/button/code*/

* {
  box-sizing: border-box;
}
body.greyBK{
	background: linear-gradient(to bottom, #e1e2e6, #ffffff);
}

/*learnt from https://css-tricks.com
/snippets/css/using-font-face/*/
@font-face{
	font-family: "myFont";
	src:url(BauerBodoni/BauerBodoniStd-Bold.otf),
		url(BauerBodoni/BauerBodoniStd-BlackCond.otf),
		url(BauerBodoni/BauerBodoniStd-BlackItalic.otf),
		url(BauerBodoni/BauerBodoniStd-Black.otf),
		url(BauerBodoni/BauerBodoniStd-BoldCond.otf),
		url(BauerBodoni/BauerBodoniStd-BoldItalic.otf),
		url(BauerBodoni/BauerBodoniStd-Italic.otf),
		url(BauerBodoni/BauerBodoniStd-Roman.otf);
}

body{
	font-family:"myFont";
	font-size:100%;
}

.grid{
	display:flex;
}

.wrap{
	/*display:inline;*/
	flex-wrap: wrap;
}

.grid-item{	
	margin:auto;
}

hr{
	border: 1.5px dashed grey;
	width:70%;
	align-self: center;
}

h1,.figcationLogo{
	font-size:1.5em;
	letter-spacing: 0.5em;
}

h2{	font-size:1.3em;
	letter-spacing: 0.2em;
}

h3{
	letter-spacing: 0.1em;
}

h1,h2,h3,.figcationLogo{
	text-transform:uppercase;
	text-align: center;	
}

label{
	letter-spacing: 0.15em;
	color:#58595b;
	font-kerning:normal;
	font-weight: bolder;
	font-style: italic;
	text-align: center;
	padding: 0.3em;
	/*text-decoration:line-through;*/
}

h2,h3{
	color:white;
	background-color: #5a6872;
	padding: 0.5em;
}
p.sub::first-letter{
	initial-letter: 2;
}
p{	

	text-align: center;
	font-size: 0.8em;
	font-weight:100;
	text-indent: 2em;
	letter-spacing:0.2em;
	word-spacing: 0.2em;
	stroke-linecap:2em;
	line-height:2em;
	color:#58595b;
	max-width: 500px;
	min-width: 150px;
	margin:auto;
}

ul{
	list-style-type: none;
}

li{
	margin:auto;
}

li a{
	font-size: 0.7em;
	color:#58595b;
	text-transform: uppercase;
	/*background-color:red;*/
}

li a:hover{
	letter-spacing:0.9em;
}

#homepageContainer{
	position: relative;
}

div.footage{
	width:100%;
	/*learnt gradient color from 
	https://www.w3schools.com/css/css3_gradients.asp*/
	background: linear-gradient(to bottom, #e1e2e6, #ffffff);
	margin-bottom: 0;
	position:fixed;
	bottom:0;
}

a{
	text-decoration: none;
	cursor: pointer;
}

a:hover,a:active,a:visited{
	opacity: 1;
}

img{
	max-width: 60%;
}

#top-nav{
	writing-mode: horizontal-tb;
	width:100%;
	height:10%;
}

#left-nav{
	writing-mode: vertical-lr;
	width:20%;
	height:80%;
	
}	

#right-nav{
	writing-mode:vertical-rl;
	width:20%;
	height:80%;
}

#bottom-nav{
	writing-mode: horizontal-tb;
	width:100%;
	height:10%;

}

a.logo:hover{
	animation-name:rotate20deg;
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in-out 5s;
	animation-fill-mode: both;
}
/*set location for page title ---------------*/
div.nav{
	background-color: black;
	width:100%;
	height: 70px;
	position: relative;
}
.logo{
	max-width:80px;
	padding: 0.2em;
	position: absolute;
	left:5%;
}

.figcationLogo{
	position: absolute;
	right: 5%;
	bottom:0;
}
/*home page -----------------------------------*/
.homeCenter{
	width:80%;
	margin: auto;
}

#homePara{
	z-index: 0;
	position: relative;
}
#logowithbox{
	max-width: 400px;
	z-index: -1;
	position: absolute;
	left:10%;
	top:30%;
}

#lInbox{
	fill:pink;
}

#sInbox{
	fill:#41d6c3;
}

/*dash offset which learnt from 
https://css-tricks.com/svg-line-animation-works/*/
#homebox{
	fill:none;
	stroke:#41d6c3;
	stroke-dasharray:100;
	animation:dash 8s linear;
	animation-iteration-count: infinite;
	/*stroke properties which learnt from 
	https://www.w3schools.com/graphics/svg_stroking.asp*/
	stroke-width:8px;
	stroke-linecap: round;
}
@keyframes dash{
	to{
		stroke-dashoffset:1000;
	}
}
.nav_link, h1{
	color: #41d6c3;
}


.figcationLogo{
	/*display: block;*/
	color: white;
}

.intext_link{
	color:white;
	background-color:#41d6c3; 
	padding: 0.2em; 
}

/*learnt from https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation1*/
.nav_link:hover,.nav_link:visited,.nav_link:active{
	/*animation-name: bgcolorChange;*/
	letter-spacing: 1.8em;
}

.intext_link:hover,.intext_link:visited,.intext_link:active{
	background-color: rgba(65, 214, 195,0.5);
}

.nav_link:hover,.nav_link:visited,.nav_link:active{
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in-out 2s;
	animation-fill-mode: both;
}


.fadeinLeft{
	animation-name: fadeinLeft;
}

.fadeinRight{
	animation-name: fadeinRight;
}

.fadeinTop{
	animation-name: fadeinTop;
}

.fadeinBottom{
	animation-name: fadeinBottom;
}

.fadeinLeft, .fadeinRight,.fadeinTop,.fadeinBottom{
	animation-duration: 2s;
	animation-iteration-count:1;
	animation-timing-function: ease-in-out 1s;
	animation-fill-mode: both;
}

/*learnt from https://css-tricks.com/add-page-transitions-css-smoothstate-js/*/
@keyframes bdcolorChange{
	from{
		border-color:#41d6c3; 
	}
	to{
		border-color:pink;
	}
}

/*rotate svg which learnt from https://css-tricks.
com/lodge/svg/08-using-svg-iframeobjectembed/?play=true*/
@keyframes rotate20deg{
	0%{
		transform: rotate(-20deg);
	}
	25%{
		transform:rotate(0deg);
	}
	75%{
		transform:rotate(20deg);
	}
	100%{
		transform:rotate(-20deg);
	}
}

/*https://www.tutorialspoint.com/css/css_animation_fade_in_left.htm*/
@keyframes fadeinTop{

	0%{
		opacity: 0;
		transform:translateY(-10em);
	}

	100%{
		opacity: 1;
		transform:translateY(0);
	}
}

@keyframes fadeinBottom{

	0%{
		opacity: 0;
		transform:translateY(10em);
	}

	100%{
		opacity: 1;
		transform:translateY(0);
	}
}

@keyframes fadeinRight{

	0%{
		opacity: 0;
		transform:translateX(20em);
	}

	100%{
		opacity: 1;
		transform:translateX(0);
	}
}


@keyframes fadeinLeft{

	0%{
		opacity: 0;
		transform:translateX(-20em);
	}

	100%{
		opacity: 1;
		transform:translateX(0);
	}
}

@keyframes moveHeight{
	to {
		transform: translateY(2000px);
		opacity: 1;
	}
}

.toggle{
	transition: 1s;
	transform: scale(2);
	display: block;
	margin:auto;
}

.toggleImg{
	width:auto;
	height:200px;
}

.color,.font,.button{
	padding: 2em;
	border:1px dashed black;
	align-items: center;
	text-align: center
}

.font{
	margin-top: 3em;
}

.color .grid-item{
	width:100px;
	border:1px solid black;
}

#color1{
	background-color: black;
	/*background-color:#5a6872;	*/
}

#color2{
	background-color:#58595b;	
}

#color3{
	background-color:white;
	color:#5a6872;
}
#color4{
	background-color:#41d6c3;
}

#color5{
	background-color:pink;
}
.bar,.bar2,.bar3{
	margin-bottom: 2.2em;
	background:pink;
	border:1px solid pink;
	animation:moveHeight;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
	opacity: 0.5;
}
.bar{
	width:10px;
	height:150px;
	margin-top: 7em;
	margin-right: 8px;	
}
.bar2{
	width:8px;
	height:90px;
	margin-top: 3em;
	animation-delay: 2s;
}
.bar3{
	margin-top: 5em;
	width:9px;
	height:130px;
	margin-left:7px;
	animation-delay: 1s;
}
.imageButton{
	width:2.5em;
	display: flex;
	margin:1.5em auto;
	fill:#41d6c3;
	transition: 0.3s;
	animation-name:rotate20deg;
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in-out 5s;
	animation-fill-mode: both;
}
/*works1 page--------------------------------------*/
.downArrow{
	position: fixed;
	top:130%;
	left:50%;
}

#broimage{
	width:80%; 
	margin:100px auto;
	background-color: rgba(255, 192, 203,0.8);
}
.firstImage{
	width:80%;
	position: relative;
	left:25%;
	z-index: 9;

}

#secondImage{
	width:80%;
	position:absolute;
	left:0;
	bottom:-10%;
	transform: translate(0,50%);
	z-index: 9;
}

.thirdImage{
	width:80%;
	position:relative;
	left:5%;
	z-index: 9;
}

#fourthImage{
	width:80%;

	position: absolute;
	left:-10%;
	bottom:-50%;
	transform: translate(0,50%);
	z-index: 9;
}

.thirdImage{
	left:0;
	bottom:-5%;
}

#fourthImage{
	animation:moveUp;
	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes moveUp{
	to{
		transform: translateX(17%);
	}
}
/*works2 page --------------------*/
#personaimage{
	max-width:20%;
	min-width: 200px;
	display: flex;
	margin:100px auto;
	animation:scale;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes scale{
	to{
		transform: scale(1.2);
	}
}
.project2{
	width:70%;
	margin:auto;
	align-items: center;
	/*border:1px solid black;*/
}

.project2 img{
	width:350px;
}
.video{
	width:60%;
	height:auto;
	margin-left:20%;
}
/*aout page ___________________*/
.persnoalInformation,.persnoalInformation2{
	width:70%;
	margin:auto;
}

@media(max-width: 840px){
	.persnoalInformation,.persnoalInformation2{
		flex-wrap: wrap;
	}
}
.persnoalInformation p{
	max-width: 90%;
}
.persnoalInformation2 p{
	max-width: 78%;
}

/*contact page----------------------*/
.contact{
	margin-top: 10%;
	width:60%;
	position:relative;
	border:0.7em groove pink;
	animation:bdcolorChange;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out 2s;
	animation-duration: 5s;
}
.bkgd{
	background-color: pink;
}

@media(max-width: 900px){
	.contact{
		margin-top: 25%;
		width:80%;	
	}
}

#contactCaption{
	width:40%;
	position:absolute;
	left:53%;
	bottom:50%;
}

.indent{
	position: absolute;
	left:10%;
}

/*about page--------------------------*/
#iImage{
	padding-top:3em; 
	height:300px;
	width:300px;

}

#iImage2{
	height:300px;
	width:200px;
	padding-top:1.5em;
	padding-left: 3em; 
}

/*style page------------------------------*/

#styleContainer{
	width:70%;
	margin:auto;
}
/*project1 page------------------------------*/
#project1Container,#project2Container{
	width:90%;
}
#project1-image{
	height:60%;
	width:60%;
	padding-top: 2em;
	padding-bottom: 2em;
}
.projectContent{
	width:80%;
	margin:auto;
	background-color: white;
	border-top:2px solid #e4e4e4;
	padding-top: 1em;
	margin-bottom:2em;
}
.projectContent img{
	padding-top: 2em;
	padding-bottom: 2em;
	width:330px;
}
/*citation page-----------------------------------*/
#citationContainer{
	margin:100px auto;
}
