/*this design got ideas from carbon design system from 
http://carbondesignsystem.com/components/button/code*/

* {
  box-sizing: border-box;
}

/*learnt from https://css-tricks.com
/snippets/css/using-font-face/*/
@font-face{
	font-family: "myFont";
	src:url(BauerBodoni/BauerBodoniStd-Bold.otf),
		url(BauerBodoni/BauerBodoniStd-BlackCond.otf),
		url(BauerBodoni/BauerBodoniStd-BlackItalic.otf),
		url(BauerBodoni/BauerBodoniStd-Black.otf),
		url(BauerBodoni/BauerBodoniStd-BoldCond.otf),
		url(BauerBodoni/BauerBodoniStd-BoldItalic.otf),
		url(BauerBodoni/BauerBodoniStd-Italic.otf),
		url(BauerBodoni/BauerBodoniStd-Roman.otf);
}

body{
	font-family:'myFont';
	font-size:100%;
}

.grid{
	display:flex;
	width:100%;
}

.wrap{
	/*display:inline;*/
	flex-wrap: wrap;
}

.grid-item{	
	margin:auto;
	padding: 1em;	
}
hr{
	border: 1.5px dashed grey;
}

h1,.figcationLogo{
	font-size:1.5em;
	letter-spacing: 0.5em;
}

h2{	font-size:1em;
	letter-spacing: 0.2em;
}

h3,h4{
	letter-spacing: 0.1em;
}

h1,h2,h3,h4,.figcationLogo{
	text-transform:uppercase;
	text-align: center;	
}

h4,label{
	letter-spacing: 0.15em;
	color:white;
	background-color: pink;
	font-kerning:normal;
	font-weight: bolder;
	font-style: italic;
	text-align: center;
	padding: 0.3em;
	/*text-transform: lowercase;*/
	/*text-decoration:line-through;*/
}

h2,h3{
	color:white;
	background-color: #5a6872;
	padding: 0.5em;
}

p{	

	text-align: center;
	font-size: 0.7em;
	font-weight:100;
	text-indent: 2em;
	letter-spacing:0.2em;
	word-spacing: 0.2em;
	stroke-linecap:2em;
	line-height:2em;
	max-width: 50%;
	color:#787e82;
	margin:auto;
}

a{
	text-decoration: none;
	cursor: pointer;
}

a:hover,a:active,a:visited{
	opacity: 1;
}

img{
	max-width: 60%;
}

ul{
	list-style-type: none;
}

#top-nav{
	writing-mode: horizontal-tb;
	width:100%;
	height:10%;
}

#left-nav{
	writing-mode: vertical-lr;
	width:20%;
	height:80%;
	
}	

#right-nav{
	writing-mode:vertical-rl;
	width:20%;
	height:80%;
}

#bottom-nav{
	writing-mode: horizontal-tb;
	width:100%;
	height:10%;

}

a.logo{
	width:150px;
	margin:auto;
	position:relative;
	right:10%;
}
a.logo:hover{
	animation-name:rotate20deg;
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in-out 5s;
	animation-fill-mode: both;
}

.figcationLogo{
	position: absolute;
	left:60%;
	top:66%;

}

#logowithbox{
	width:70%;
	min-width: 100px;
	height:auto;
	z-index: 10;
}

#lInbox{
	fill:pink;
}

#sInbox{
	fill:#41d6c3;
}

/*dash offset which learnt from 
https://css-tricks.com/svg-line-animation-works/*/
#homebox{
	fill:none;
	stroke:#41d6c3;
	stroke-dasharray:100;
	animation:dash 8s linear;
	animation-iteration-count: infinite;
	/*stroke properties which learnt from 
	https://www.w3schools.com/graphics/svg_stroking.asp*/
	stroke-width:8px;
	stroke-linecap: round;
}
@keyframes dash{
	to{
		stroke-dashoffset:1000;
	}
}

#welcome{
	z-index: -1;
}

.nav_link, h1,.figcationLogo{
	/*display: block;*/
	color: #41d6c3;
}

.intext_link{
	color:white;
	background-color:#41d6c3;  
}

/*learnt from https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation1*/
.nav_link:hover,.nav_link:visited,.nav_link:active{
	animation-name: fadeinRight;
	/*animation-name: bgcolorChange;*/
	letter-spacing: 1.8em;
}

.intext_link:hover,.intext_link:visited,.intext_link:active{
	animation-name: bgcolorChange;
}

.intext_link:hover,.nav_link:hover, .intext_link:visited,
.nav_link:visited, .intext_link:active,.nav_link:active{
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in-out 2s;
	animation-fill-mode: both;
}


.fadeinLeft{
	animation-name: fadeinLeft;
}

.fadeinRight{
	animation-name: fadeinRight;
}

.fadeinTop{
	animation-name: fadeinTop;
}

.fadeinBottom{
	animation-name: fadeinBottom;
}

.fadeinLeft, .fadeinRight,.fadeinTop,.fadeinBottom{
	animation-duration: 4s;
	animation-iteration-count:1;
	animation-timing-function: ease-in-out 4s;
	animation-fill-mode: both;
}

/*learnt from https://css-tricks.com/add-page-transitions-css-smoothstate-js/*/
@keyframes bdcolorChange{
	from{
		border-color:#41d6c3; 
	}
	to{
		border-color:pink;
	}
}

/*rotate svg which learnt fromhttps://css-tricks.
com/lodge/svg/08-using-svg-iframeobjectembed/?play=true*/
@keyframes rotate20deg{
	0%{
		transform: rotate(-20deg);
	}
	25%{
		transform:rotate(0deg);
	}
	75%{
		transform:rotate(20deg);
	}
	100%{
		transform:rotate(-20deg);
	}
}

/*https://www.tutorialspoint.com/css/css_animation_fade_in_left.htm*/
@keyframes fadeinTop{

	0%{
		opacity: 0;
		transform:translateY(-10em);
	}

	100%{
		opacity: 1;
		transform:translateY(0);
	}
}

@keyframes fadeinBottom{

	0%{
		opacity: 0;
		transform:translateY(10em);
	}

	100%{
		opacity: 1;
		transform:translateY(0);
	}
}

@keyframes fadeinRight{

	0%{
		opacity: 0;
		transform:translateX(20em);
	}

	100%{
		opacity: 1;
		transform:translateX(0);
	}
}


@keyframes fadeinLeft{

	0%{
		opacity: 0;
		transform:translateX(-20em);
	}

	100%{
		opacity: 1;
		transform:translateX(0);
	}
}

.color,.font,.button{
	padding: 2em;
	border:1px dashed black;
	align-items: center;
	text-align: center
}

.color .grid-item{
	width:100px;
	border:1px solid black;
}

#color1{
	background-color: black;
	/*background-color:#5a6872;	*/
}

#color2{
	background-color:#787e82;	
}

#color3{
	background-color:white;
	color:#5a6872;
}
#color4{
	background-color:#41d6c3;
}

#color5{
	background-color:pink;
}

.imageButton{
	width:2em;
	fill:#41d6c3;
	/*opacity: 0.5;*/
	transition: 0.3s;
	animation-name:rotate20deg;
	animation-duration: 2s;
	animation-iteration-count:infinite;
	animation-timing-function: ease-in-out 5s;
	animation-fill-mode: both;
}
.imageButton:hover{
	transform: scale(2);
}

.downArrow{
	position: fixed;
	bottom:-65%;
	left:50%;
}

#broimage{
	background-color: rgba(255, 192, 203,0.8);
}

.firstImage{
	width:80%;
	position: relative;
	left:25%;
	z-index: 9;

}

#secondImage{
	width:80%;
	position:absolute;
	left:0;
	bottom:-10%;
	transform: translate(0,50%);
	z-index: 9;
}

.thirdImage{
	width:80%;
	position:relative;
	left:5%;
	z-index: 9;
}

#fourthImage{
	width:80%;

	position: absolute;
	left:-10%;
	bottom:-10%;
	transform: translate(0,50%);
	z-index: 9;
}

.thirdImage:hover #fourthImage{
	left:0;
	bottom:-5%;
}

#personaimage{
	width:40%;
	height:auto;
	max-height: 400px;	
}

#personaimage:hover{
	transform: scale(1.2);
}

.personaimage{
	text-align: center;
}

.personaimage,.contact{
	border:1em groove pink;
	animation:bdcolorChange;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out 2s;
	animation-duration: 5s;
}
/*aout page ___________________*/
@media(max-width: 840px){
	.persnoalInformation{
		flex-wrap: wrap;
	}
}
/*contact page----------------------*/
.contact{
	margin-top: 10%;
	width:60%;
	position:relative;

}

@media(max-width: 900px){
	.contact{
		margin-top: 25%;
		width:80%;	
	}
}

#contactCaption{
	width:40%;
	position:absolute;
	left:53%;
	bottom:40%;
}

.indent{
	position: absolute;
	left:10%;
}








